<textarea id="typer" cols="15" rows="1" disabled></textarea><br>
  <button id="start">Empezar</button>
  <div class="score">Palabras por minuto: <span id="current-score"></span> ppm</div>
  <div>Tiempo: <span id="timer"></span></div>
  <div>Palabras correctas:<span id="aciertos"> </span></div>
  
  <p id="countdown"></p>
  
